:root{
    --bg-button:#f0f0f0;
    --border-button:solid 1px rgba(136, 136, 136, 0.774);
}

.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: nome;
    border-right: var(--border-button);
    outline: none;
}

.button:active{
    background-color: rgb(204, 204, 204);
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: #fa8231;
    color:#FFF;
}

.button.operation:active{
    background-color: #f76300;
}