
#font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

body{
  display: flex;
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#fff;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}